body {
    background-color: rgba(255, 184, 204, 1);
}

.Social_Icons {
    aspect-ratio: 1 / 1;
    width: 100px;
    height: auto;
    max-width: 5%;
}

.Grid_Display {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
}

.Grid_Tile {
    display: inline-block;
}
