body {
    background-color: rgba(255, 184, 204, 1);
    margin: 0;
    padding: 0;
}

#Content {
    display: block;
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 20px;

    background-color:rgba(255, 240, 240, 1)
}

.Social_Icons {
    aspect-ratio: 1 / 1;
    width: 100px;
    display: block;
    height: auto;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}

.Grid_Display {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.Grid_Tile {
    display: block;
    max-width: auto;
}
